.adrenaline-heading {
    display: flex;
    height: 100px;
    justify-content: center;
       
    #adrenaline{
        height: 120px;
        width: auto;
    }
}
    .adrenaline-h1 h1 {
        border: solid red 4px;
        margin: 20px auto;
        padding: 10px 30px;
        border-radius: 20px;
        color: white;
        background-color: $blue;
    }    