$blue: #0a80f7;

.central-text {
    text-align: center;
    margin-top: 5em;
    color: $blue;
    
    h1 {
        font-size: 4em;
       
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        margin-top: 0.5em;
        
    }

    
}
